In [5]:
object1="kiley"

In [6]:
print(object1)

kiley

In [8]:
number="34"

In [9]:
print(number)

34

In [10]:
enlarge=6

In [19]:
print(enlarge)

6

In [29]:
total=number+enlarge
print (total)

TypeError: can only concatenate str (not "int") to str

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("CountyHealthData_2014-2015.csv")

In [4]:
df.shape

(6109, 64)

In [8]:
df.head

<bound method NDFrame.head of      State Region  Division                      County   FIPS  GEOID  \
0       AK   West   Pacific  Aleutians West Census Area   2016   2016
1       AK   West   Pacific  Aleutians West Census Area   2016   2016
2       AK   West   Pacific           Anchorage Borough   2020   2020
3       AK   West   Pacific           Anchorage Borough   2020   2020
4       AK   West   Pacific          Bethel Census Area   2050   2050
...    ...    ...       ...                         ...    ...    ...
6104    WY   West  Mountain                Uinta County  56041  56041
6105    WY   West  Mountain             Washakie County  56043  56043
6106    WY   West  Mountain             Washakie County  56043  56043
6107    WY   West  Mountain               Weston County  56045  56045
6108    WY   West  Mountain               Weston County  56045  56045

       SMS Region      Year  Premature death  Poor or fair health  ...  \
0     Insuff Data  1/1/2014              NaN                0.122  ...
1     Insuff Data  1/1/2015              NaN                0.122  ...
2       Region 22  1/1/2014           6827.0                0.125  ...
3       Region 22  1/1/2015           6856.0                0.125  ...
4     Insuff Data  1/1/2014          13345.0                0.211  ...
...           ...       ...              ...                  ...  ...
6104  Insuff Data  1/1/2015           7436.0                0.135  ...
6105  Insuff Data  1/1/2014           6580.0                0.106  ...
6106  Insuff Data  1/1/2015           7572.0                0.106  ...
6107  Insuff Data  1/1/2014           5633.0                0.162  ...
6108  Insuff Data  1/1/2015           7819.0                0.162  ...

      Drug poisoning deaths  Uninsured adults  Uninsured children  \
0                       NaN             0.374               0.250
1                       NaN             0.314               0.176
2                     15.37             0.218               0.096
3                     17.08             0.227               0.123
4                       NaN             0.394               0.124
...                     ...               ...                 ...
6104                  18.66             0.192               0.090
6105                    NaN             0.225               0.086
6106                    NaN             0.226               0.101
6107                    NaN             0.201               0.084
6108                    NaN             0.189               0.092

      Health care costs  Could not see doctor due to cost  \
0                3791.0                             0.185
1                4837.0                             0.185
2                6588.0                             0.119
3                6582.0                             0.119
4                5860.0                             0.200
...                 ...                               ...
6104             7600.0                             0.123
6105             8202.0                             0.099
6106             7940.0                             0.099
6107             6906.0                             0.130
6108             7238.0                             0.130

      Other primary care providers  Median household income  \
0                            216.0                    69192
1                            254.0                    74088
2                            135.0                    71094
3                            148.0                    76362
4                            169.0                    41722
...                            ...                      ...
6104                          47.0                    60953
6105                          47.0                    49533
6106                          47.0                    50740
6107                          28.0                    53665
6108                          28.0                    59314

      Children eligible for free lunch  Homicide rate  \
0                                0.127            NaN
1                                0.133            NaN
2                                0.319           6.29
3                                0.334           5.60
4                                0.668          12.77
...                                ...            ...
6104                             0.273            NaN
6105                             0.328            NaN
6106                             0.309            NaN
6107                             0.232            NaN
6108                             0.235            NaN

      Inadequate social support
0                         0.287
1                           NaN
2                         0.160
3                           NaN
4                         0.477
...                         ...
6104                        NaN
6105                      0.133
6106                        NaN
6107                      0.171
6108                        NaN

[6109 rows x 64 columns]>

In [9]:
df.State.value_counts()

TX    469
GA    318
VA    266
KY    240
MO    229
IL    204
NC    200
KS    199
IA    198
TN    190
IN    184
OH    176
MN    174
MI    164
MS    163
NE    157
OK    154
AR    150
WI    144
FL    134
PA    134
AL    134
LA    128
NY    124
CO    119
SD    117
CA    114
WV    110
ND     92
MT     92
SC     92
ID     84
WA     78
OR     67
NM     64
UT     54
MD     48
AK     46
WY     46
NJ     42
NV     32
ME     32
AZ     30
MA     28
VT     28
NH     20
CT     16
RI     10
HI      8
DE      6
DC      1
Name: State, dtype: int64

In [14]:
df["Uninsured adults"]

0       0.374
1       0.314
2       0.218
3       0.227
4       0.394
        ...
6104    0.192
6105    0.225
6106    0.226
6107    0.201
6108    0.189
Name: Uninsured adults, Length: 6109, dtype: float64

In [15]:
df["Adult obesity"]

0       0.300
1       0.329
2       0.257
3       0.268
4       0.315
        ...
6104    0.293
6105    0.241
6106    0.242
6107    0.313
6108    0.288
Name: Adult obesity, Length: 6109, dtype: float64

In [18]:
df["Adult obesity"].head()

0    0.300
1    0.329
2    0.257
3    0.268
4    0.315
Name: Adult obesity, dtype: float64

In [20]:
df["Adult obesity"].tail()

6104    0.293
6105    0.241
6106    0.242
6107    0.313
6108    0.288
Name: Adult obesity, dtype: float64

In [21]:
df["Excessive drinking"]

0       0.266
1       0.266
2       0.185
3       0.185
4       0.171
        ...
6104    0.137
6105    0.099
6106    0.099
6107    0.170
6108    0.170
Name: Excessive drinking, Length: 6109, dtype: float64