INTRODUCTION

Today we are going to learn how to filter and create our own data using pandas, and coding methods. The data will be used from our csv file about county health data that was provided and found in our class page. 

Like spreadsheets in Microsoft Excel, Pandas allows us to store our data in tabular, multi-dimensional objects (dataframes) with familiar features like rows, columns, and headers. This is useful because it makes management, manipulation, and cleaning of large datasets much easier than would be the case using Python's built-in data structures such as lists. Pandas also provides a wide range of useful tools for working with data once it has been stored and structured.

Begin by importing the pandas package using the following command:

In [2]:
import pandas as pd
import numpy as nd

Notice that we load pandas with the usual import pandas and an extra as pd statement. This allows us to call functions from pandas with pd.<function> instead of pandas.<function> for convenience. as pd is not necessary to load the package.

Note, we also imported the numpy package, which is going to help pandas do some of its math


IMPORTING YOUR CSV FILE

Now, you want to import the csv file of your selected data of choice. First, you need to make sure you download your csv file from the data you found and included it into your folder used for this jupyter notebook. 

Make sure your csv file is saved in the same working directory as your .ipynb notebook file that you will use. Remember that Jupyter Notebooks automatically set your working directory to the folder where the .ipynb is saved. You'll have to save the document at least once to set your directory, but once there you can use what's called relative file paths to access the files there.

If a file is located in your working directory, its relative path is just the name of the file!

Using the pd.read_csv() function:
 pd.read_csv reads the tabular data from a Comma Separated Values (csv) file into a dataframe object that we'll define as df.

To create our dataframe object we'll define our object df by executing the pd.read_csv()function on our data file by inserting the relative file path into the parathenses.

In [3]:
df=pd.read_csv("CountyHealthData_2014-2015.csv")

EXPLORING OUR DATAFRAMES

Now you are going to dig into your data and explore what it encompasses.  
First, you need to know that df means (dataframe) which is just your data in your csv file, you will start your coding with df for most of the methods used as seen down below. 

START FILTERING WITH TWO NEW METHODS:

You can see how many rows and columns that your data has by using .shape and use .size. 
1. .shape to see the rows 
2. .size to see the columns and rows combined, as seen below.

In [4]:
df.shape

(6109, 64)

In [5]:
df.size

390976

MORE FILTERING

Another thing you can do is use .columns which will provide you with all the column names for the datafame. WHile, .dtypes provides pandas datatype for each column.

In [6]:
df.columns

Index(['State', 'Region', 'Division', 'County', 'FIPS', 'GEOID', 'SMS Region',
       'Year', 'Premature death', 'Poor or fair health',
       'Poor physical health days', 'Poor mental health days',
       'Low birthweight', 'Adult smoking', 'Adult obesity',
       'Food environment index', 'Physical inactivity',
       'Access to exercise opportunities', 'Excessive drinking',
       'Alcohol-impaired driving deaths', 'Sexually transmitted infections',
       'Teen births', 'Uninsured', 'Primary care physicians', 'Dentists',
       'Mental health providers', 'Preventable hospital stays',
       'Diabetic screening', 'Mammography screening', 'High school graduation',
       'Some college', 'Unemployment', 'Children in poverty',
       'Income inequality', 'Children in single-parent households',
       'Social associations', 'Violent crime', 'Injury deaths',
       'Air pollution - particulate matter', 'Drinking water violations',
       'Severe housing problems', 'Driving alone to work',
       'Long commute - driving alone', '2011 population estimate',
       'Population that is not proficient in English',
       'Population living in a rural area', 'Diabetes', 'HIV prevalence rate',
       'Premature age-adjusted mortality', 'Infant mortality',
       'Child mortality', 'Food insecurity', 'Limited access to healthy foods',
       'Motor vehicle crash deaths', 'Drug poisoning deaths',
       'Uninsured adults', 'Uninsured children', 'Health care costs',
       'Could not see doctor due to cost', 'Other primary care providers',
       'Median household income', 'Children eligible for free lunch',
       'Homicide rate', 'Inadequate social support'],
      dtype='object')

In [7]:
df.dtypes

State                                object
Region                               object
Division                             object
County                               object
FIPS                                  int64
                                     ...
Other primary care providers        float64
Median household income               int64
Children eligible for free lunch    float64
Homicide rate                       float64
Inadequate social support           float64
Length: 64, dtype: object

FILTERING METHODS

Another method you can use to lessen your data is: 
1. with the use of .head() which shows the first 5 rows 
2. .tail() will show the last 5 rows

In [8]:
df.head()

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
0,AK,West,Pacific,Aleutians West Census Area,2016,2016,Insuff Data,1/1/2014,NaN,0.122,...,NaN,0.374,0.250,3791.0,0.185,216.0,69192,0.127,NaN,0.287
1,AK,West,Pacific,Aleutians West Census Area,2016,2016,Insuff Data,1/1/2015,NaN,0.122,...,NaN,0.314,0.176,4837.0,0.185,254.0,74088,0.133,NaN,NaN
2,AK,West,Pacific,Anchorage Borough,2020,2020,Region 22,1/1/2014,6827.0,0.125,...,15.37,0.218,0.096,6588.0,0.119,135.0,71094,0.319,6.29,0.160
3,AK,West,Pacific,Anchorage Borough,2020,2020,Region 22,1/1/2015,6856.0,0.125,...,17.08,0.227,0.123,6582.0,0.119,148.0,76362,0.334,5.60,NaN
4,AK,West,Pacific,Bethel Census Area,2050,2050,Insuff Data,1/1/2014,13345.0,0.211,...,NaN,0.394,0.124,5860.0,0.200,169.0,41722,0.668,12.77,0.477

In [10]:
df.tail()

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
6104,WY,West,Mountain,Uinta County,56041,56041,Insuff Data,1/1/2015,7436.0,0.135,...,18.66,0.192,0.090,7600.0,0.123,47.0,60953,0.273,NaN,NaN
6105,WY,West,Mountain,Washakie County,56043,56043,Insuff Data,1/1/2014,6580.0,0.106,...,NaN,0.225,0.086,8202.0,0.099,47.0,49533,0.328,NaN,0.133
6106,WY,West,Mountain,Washakie County,56043,56043,Insuff Data,1/1/2015,7572.0,0.106,...,NaN,0.226,0.101,7940.0,0.099,47.0,50740,0.309,NaN,NaN
6107,WY,West,Mountain,Weston County,56045,56045,Insuff Data,1/1/2014,5633.0,0.162,...,NaN,0.201,0.084,6906.0,0.130,28.0,53665,0.232,NaN,0.171
6108,WY,West,Mountain,Weston County,56045,56045,Insuff Data,1/1/2015,7819.0,0.162,...,NaN,0.189,0.092,7238.0,0.130,28.0,59314,0.235,NaN,NaN

THE RANDOM SAMPLE METHOD (filtering more data)


If you want to see a random sample of your data you will use .sample() with df meaning dataframe before it- which is just another word for your data. You can use n=6 to specify you want to see 6 rows, n being what represents how many you want.

In [12]:
df.sample(n=6)

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
3133,MS,South,East South Central,Walthall County,28147,28147,Region 19,1/1/2014,14068.0,0.212,...,12.05,0.306,0.114,10717.0,0.218,26.0,28920,0.730,13.91,0.237
4294,OK,South,West South Central,Wagoner County,40145,40145,Region 29,1/1/2014,8175.0,0.170,...,21.14,0.226,0.109,10404.0,0.186,20.0,54839,0.439,4.60,0.206
4004,OH,Midwest,East North Central,Coshocton County,39031,39031,Insuff Data,1/1/2014,7955.0,0.164,...,7.69,0.207,0.081,9962.0,0.178,19.0,42035,0.447,NaN,NaN
1886,KS,Midwest,West North Central,Phillips County,20147,20147,Insuff Data,1/1/2015,7791.0,0.102,...,NaN,0.166,0.077,10665.0,NaN,54.0,44080,0.449,NaN,NaN
847,GA,South,South Atlantic,Early County,13099,13099,Insuff Data,1/1/2015,13277.0,0.278,...,NaN,0.251,0.071,12439.0,NaN,66.0,32357,0.698,NaN,NaN
5624,VA,South,South Atlantic,Petersburg city,51730,51730,Region 1,1/1/2015,13827.0,0.191,...,8.86,0.210,0.050,9757.0,NaN,68.0,32623,NaN,24.10,NaN

START FILTERING SPECIFIC ROWS AND COLUMNS

Now with using these basic methods you can start filtering your own data. 
If you want to see multiple columns, you can use square brackets to break your data down by starting with df[[ and then using quotations to filter what you want to see as shown below.

In [77]:
df[["State", "Year", "Region", "County", "Adult obesity", "Physical inactivity", "Access to exercise opportunities" ]][1946:2185].to_csv

<bound method NDFrame.to_csv of      State      Year Region           County  Adult obesity  \
1946    KY  1/1/2015  South     Adair County          0.334
1947    KY  1/1/2014  South     Allen County          0.338
1948    KY  1/1/2015  South     Allen County          0.319
1949    KY  1/1/2014  South  Anderson County          0.340
1950    KY  1/1/2015  South  Anderson County          0.333
...    ...       ...    ...              ...            ...
2180    KY  1/1/2015  South   Whitley County          0.342
2181    KY  1/1/2014  South     Wolfe County          0.318
2182    KY  1/1/2015  South     Wolfe County          0.330
2183    KY  1/1/2014  South  Woodford County          0.316
2184    KY  1/1/2015  South  Woodford County          0.309

      Physical inactivity  Access to exercise opportunities
1946                0.319                             0.580
1947                0.285                             0.355
1948                0.299                             0.418
1949                0.338                             0.625
1950                0.314                             0.836
...                   ...                               ...
2180                0.345                             0.813
2181                0.332                             0.482
2182                0.329                             0.353
2183                0.268                             0.172
2184                0.309                             0.663

[239 rows x 7 columns]>

MORE DESCRIPTIVE FILTERING TO SPECIFY YOUR DATA 

Above shows the use of the double brackets and quotations to show the state, region, county, and the specific ideas you wnat to see which I used adult obesity, physical inactivity, and access to exercise opportunities. It is very important to make sure you spell correctly or else you would get an error. To make sure you see the specfic rows you need to use square brackets with the row numbers.

In [ ]:
df[["State", "Year", "Region", "County", "Adult obesity", "Physical inactivity", "Access to exercise opportunities" ]][331:360]

,State,Year,Region,County,Adult obesity,Physical inactivity,Access to exercise opportunities
331,AZ,1/1/2015,West,Apache County,0.319,0.223,0.223
332,AZ,1/1/2014,West,Cochise County,0.247,0.234,0.145
333,AZ,1/1/2015,West,Cochise County,0.236,0.214,0.746
334,AZ,1/1/2014,West,Coconino County,0.233,0.168,0.741
335,AZ,1/1/2015,West,Coconino County,0.240,0.159,0.817
336,AZ,1/1/2014,West,Gila County,0.263,0.259,0.723
337,AZ,1/1/2015,West,Gila County,0.271,0.252,0.818
338,AZ,1/1/2014,West,Graham County,0.339,0.259,0.130
339,AZ,1/1/2015,West,Graham County,0.350,0.242,0.435
340,AZ,1/1/2014,West,Greenlee County,0.342,0.245,0.050
341,AZ,1/1/2015,West,Greenlee County,0.354,0.245,0.050
342,AZ,1/1/2014,West,La Paz County,0.312,0.318,0.185
343,AZ,1/1/2015,West,La Paz County,0.320,0.307,0.355
344,AZ,1/1/2014,West,Maricopa County,0.228,0.196,0.509
345,AZ,1/1/2015,West,Maricopa County,0.226,0.196,0.926
346,AZ,1/1/2014,West,Mohave County,0.271,0.316,0.206
347,AZ,1/1/2015,West,Mohave County,0.266,0.307,0.680
348,AZ,1/1/2014,West,Navajo County,0.317,0.240,0.365
349,AZ,1/1/2015,West,Navajo County,0.312,0.239,0.478
350,AZ,1/1/2014,West,Pima County,0.241,0.198,0.551
351,AZ,1/1/2015,West,Pima County,0.221,0.189,0.857
352,AZ,1/1/2014,West,Pinal County,0.314,0.230,0.143
353,AZ,1/1/2015,West,Pinal County,0.302,0.236,0.706
354,AZ,1/1/2014,West,Santa Cruz County,0.201,0.189,0.240
355,AZ,1/1/2015,West,Santa Cruz County,0.205,0.178,0.477
356,AZ,1/1/2014,West,Yavapai County,0.234,0.211,0.529
357,AZ,1/1/2015,West,Yavapai County,0.259,0.196,0.900
358,AZ,1/1/2014,West,Yuma County,0.311,0.251,0.491
359,AZ,1/1/2015,West,Yuma County,0.312,0.251,0.769

Exploring our Dataframes

Exploring our Dataframes

Notice you can change which state you want to see by using the column numbers- so AZ is 331:360 so that is what the information will show you. You can do the same thing with another state which you can see below as I used CT, [594:609]

In [60]:
df[["State", "Year", "Region", "County", "Adult obesity", "Physical inactivity", "Access to exercise opportunities" ]][594:609]

,State,Year,Region,County,Adult obesity,Physical inactivity,Access to exercise opportunities
594,CT,1/1/2015,Northeast,Fairfield County,0.196,0.198,0.964
595,CT,1/1/2014,Northeast,Hartford County,0.246,0.233,0.946
596,CT,1/1/2015,Northeast,Hartford County,0.261,0.227,0.957
597,CT,1/1/2014,Northeast,Litchfield County,0.219,0.200,0.814
598,CT,1/1/2015,Northeast,Litchfield County,0.235,0.197,0.919
599,CT,1/1/2014,Northeast,Middlesex County,0.239,0.214,0.838
600,CT,1/1/2015,Northeast,Middlesex County,0.235,0.202,0.945
601,CT,1/1/2014,Northeast,New Haven County,0.274,0.254,0.920
602,CT,1/1/2015,Northeast,New Haven County,0.269,0.241,0.960
603,CT,1/1/2014,Northeast,New London County,0.250,0.234,0.861
604,CT,1/1/2015,Northeast,New London County,0.263,0.214,0.916
605,CT,1/1/2014,Northeast,Tolland County,0.234,0.192,0.841
606,CT,1/1/2015,Northeast,Tolland County,0.240,0.172,0.880
607,CT,1/1/2014,Northeast,Windham County,0.300,0.249,0.831
608,CT,1/1/2015,Northeast,Windham County,0.303,0.235,0.873

As you can see we now have three different data sets all from the all different regions of the country different access oppourtunites allowing a range of differences in obesity, physical inactivity, and access to exercise opportunities to be seen.

Now you can make your data csv files by putting a .to_csv to the end of the df information you put to filter out as shown below and it will give you charts like below.

In [65]:
df[["State", "Year", "Region", "County", "Adult obesity", "Physical inactivity", "Access to exercise opportunities" ]][594:609].to_csv

<bound method NDFrame.to_csv of     State      Year     Region             County  Adult obesity  \
594    CT  1/1/2015  Northeast   Fairfield County          0.196
595    CT  1/1/2014  Northeast    Hartford County          0.246
596    CT  1/1/2015  Northeast    Hartford County          0.261
597    CT  1/1/2014  Northeast  Litchfield County          0.219
598    CT  1/1/2015  Northeast  Litchfield County          0.235
599    CT  1/1/2014  Northeast   Middlesex County          0.239
600    CT  1/1/2015  Northeast   Middlesex County          0.235
601    CT  1/1/2014  Northeast   New Haven County          0.274
602    CT  1/1/2015  Northeast   New Haven County          0.269
603    CT  1/1/2014  Northeast  New London County          0.250
604    CT  1/1/2015  Northeast  New London County          0.263
605    CT  1/1/2014  Northeast     Tolland County          0.234
606    CT  1/1/2015  Northeast     Tolland County          0.240
607    CT  1/1/2014  Northeast     Windham County          0.300
608    CT  1/1/2015  Northeast     Windham County          0.303

     Physical inactivity  Access to exercise opportunities
594                0.198                             0.964
595                0.233                             0.946
596                0.227                             0.957
597                0.200                             0.814
598                0.197                             0.919
599                0.214                             0.838
600                0.202                             0.945
601                0.254                             0.920
602                0.241                             0.960
603                0.234                             0.861
604                0.214                             0.916
605                0.192                             0.841
606                0.172                             0.880
607                0.249                             0.831
608                0.235                             0.873  >

In [66]:
df[["State", "Year", "Region", "County", "Adult obesity", "Physical inactivity", "Access to exercise opportunities" ]][331:360].to_csv

<bound method NDFrame.to_csv of     State      Year Region             County  Adult obesity  \
331    AZ  1/1/2015   West      Apache County          0.319
332    AZ  1/1/2014   West     Cochise County          0.247
333    AZ  1/1/2015   West     Cochise County          0.236
334    AZ  1/1/2014   West    Coconino County          0.233
335    AZ  1/1/2015   West    Coconino County          0.240
336    AZ  1/1/2014   West        Gila County          0.263
337    AZ  1/1/2015   West        Gila County          0.271
338    AZ  1/1/2014   West      Graham County          0.339
339    AZ  1/1/2015   West      Graham County          0.350
340    AZ  1/1/2014   West    Greenlee County          0.342
341    AZ  1/1/2015   West    Greenlee County          0.354
342    AZ  1/1/2014   West      La Paz County          0.312
343    AZ  1/1/2015   West      La Paz County          0.320
344    AZ  1/1/2014   West    Maricopa County          0.228
345    AZ  1/1/2015   West    Maricopa County          0.226
346    AZ  1/1/2014   West      Mohave County          0.271
347    AZ  1/1/2015   West      Mohave County          0.266
348    AZ  1/1/2014   West      Navajo County          0.317
349    AZ  1/1/2015   West      Navajo County          0.312
350    AZ  1/1/2014   West        Pima County          0.241
351    AZ  1/1/2015   West        Pima County          0.221
352    AZ  1/1/2014   West       Pinal County          0.314
353    AZ  1/1/2015   West       Pinal County          0.302
354    AZ  1/1/2014   West  Santa Cruz County          0.201
355    AZ  1/1/2015   West  Santa Cruz County          0.205
356    AZ  1/1/2014   West     Yavapai County          0.234
357    AZ  1/1/2015   West     Yavapai County          0.259
358    AZ  1/1/2014   West        Yuma County          0.311
359    AZ  1/1/2015   West        Yuma County          0.312

     Physical inactivity  Access to exercise opportunities
331                0.223                             0.223
332                0.234                             0.145
333                0.214                             0.746
334                0.168                             0.741
335                0.159                             0.817
336                0.259                             0.723
337                0.252                             0.818
338                0.259                             0.130
339                0.242                             0.435
340                0.245                             0.050
341                0.245                             0.050
342                0.318                             0.185
343                0.307                             0.355
344                0.196                             0.509
345                0.196                             0.926
346                0.316                             0.206
347                0.307                             0.680
348                0.240                             0.365
349                0.239                             0.478
350                0.198                             0.551
351                0.189                             0.857
352                0.230                             0.143
353                0.236                             0.706
354                0.189                             0.240
355                0.178                             0.477
356                0.211                             0.529
357                0.196                             0.900
358                0.251                             0.491
359                0.251                             0.769  >

In [67]:
df[["State", "Year", "Region", "County", "Adult obesity", "Physical inactivity", "Access to exercise opportunities" ]][1946:2185].to_csv

<bound method NDFrame.to_csv of      State      Year Region           County  Adult obesity  \
1946    KY  1/1/2015  South     Adair County          0.334
1947    KY  1/1/2014  South     Allen County          0.338
1948    KY  1/1/2015  South     Allen County          0.319
1949    KY  1/1/2014  South  Anderson County          0.340
1950    KY  1/1/2015  South  Anderson County          0.333
...    ...       ...    ...              ...            ...
2180    KY  1/1/2015  South   Whitley County          0.342
2181    KY  1/1/2014  South     Wolfe County          0.318
2182    KY  1/1/2015  South     Wolfe County          0.330
2183    KY  1/1/2014  South  Woodford County          0.316
2184    KY  1/1/2015  South  Woodford County          0.309

      Physical inactivity  Access to exercise opportunities
1946                0.319                             0.580
1947                0.285                             0.355
1948                0.299                             0.418
1949                0.338                             0.625
1950                0.314                             0.836
...                   ...                               ...
2180                0.345                             0.813
2181                0.332                             0.482
2182                0.329                             0.353
2183                0.268                             0.172
2184                0.309                             0.663

[239 rows x 7 columns]>

EXPORT YOUR NEW DATA

Now a way to export your newly filtered data:
1. Make your state = df  ex- KY=df
2  after df have the same code you made earlier with your state, region etc in double square brackets and fill it in the same way you did prior. Once you press enter, this will allow you to use your state (KY) to insert all that code without having to keep writing it out.
3. then using pd.concat and a parantheses and square bracket with your states pd.concat([KY,AZ,CT]) you will get all of your data into one graph.

Exploring our Dataframes

Exploring our Dataframes

Exploring our Dataframes

Exploring our Dataframes

Exploring our Dataframes

In [78]:
KY=df[["State", "Year", "Region", "County", "Adult obesity", "Physical inactivity", "Access to exercise opportunities" ]][1946:2185]

In [79]:
AZ=df[["State", "Year", "Region", "County", "Adult obesity", "Physical inactivity", "Access to exercise opportunities" ]][331:360]

CT=df[["State", "Year", "Region", "County", "Adult obesity", "Physical inactivity", "Access to exercise opportunities" ]][594:609]

In [84]:
pd.concat([KY,AZ,CT])

,State,Year,Region,County,Adult obesity,Physical inactivity,Access to exercise opportunities
1946,KY,1/1/2015,South,Adair County,0.334,0.319,0.580
1947,KY,1/1/2014,South,Allen County,0.338,0.285,0.355
1948,KY,1/1/2015,South,Allen County,0.319,0.299,0.418
1949,KY,1/1/2014,South,Anderson County,0.340,0.338,0.625
1950,KY,1/1/2015,South,Anderson County,0.333,0.314,0.836
...,...,...,...,...,...,...,...
604,CT,1/1/2015,Northeast,New London County,0.263,0.214,0.916
605,CT,1/1/2014,Northeast,Tolland County,0.234,0.192,0.841
606,CT,1/1/2015,Northeast,Tolland County,0.240,0.172,0.880
607,CT,1/1/2014,Northeast,Windham County,0.300,0.249,0.831
608,CT,1/1/2015,Northeast,Windham County,0.303,0.235,0.873

Now as we did earlier we will make the title of your data (Obesityhealthdata) to enter the code we just wrote with the one single graph so that we can export it.

In [85]:
Obesityhealthdata=pd.concat([KY,AZ,CT])

Now since Obesityheathdata is equal to our graph we can use that with .csv to export our new data into a csv file.

In [86]:
Obesityhealthdata.to_csv

<bound method NDFrame.to_csv of      State      Year     Region             County  Adult obesity  \
1946    KY  1/1/2015      South       Adair County          0.334
1947    KY  1/1/2014      South       Allen County          0.338
1948    KY  1/1/2015      South       Allen County          0.319
1949    KY  1/1/2014      South    Anderson County          0.340
1950    KY  1/1/2015      South    Anderson County          0.333
...    ...       ...        ...                ...            ...
604     CT  1/1/2015  Northeast  New London County          0.263
605     CT  1/1/2014  Northeast     Tolland County          0.234
606     CT  1/1/2015  Northeast     Tolland County          0.240
607     CT  1/1/2014  Northeast     Windham County          0.300
608     CT  1/1/2015  Northeast     Windham County          0.303

      Physical inactivity  Access to exercise opportunities
1946                0.319                             0.580
1947                0.285                             0.355
1948                0.299                             0.418
1949                0.338                             0.625
1950                0.314                             0.836
...                   ...                               ...
604                 0.214                             0.916
605                 0.192                             0.841
606                 0.172                             0.880
607                 0.249                             0.831
608                 0.235                             0.873

[283 rows x 7 columns]>

Then use parathenes and quotations to create a new csv in your folder in your juptyer notebook and export it. Index=false is just making sure that the index and the first rows and columns won't be enco

In [87]:
Obesityhealthdata.to_csv("Obesityhealthdata.csv")

In [89]:
Obesityhealthdata.to_csv("Obesityhealthdata.csv",index=False)